h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    background: #f0f0f0;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
