body {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: 30vh auto 1fr 5vh; 
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

header {
    display: grid;
    grid-area: header;
    background-image: url('../../images/camara-comercio.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

nav{
    background-color:  #2f7dcf;

}
nav ul {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

main{
    grid-area: main;
    background-color: rgb(163, 206, 255);
}

footer{
    background-color: #2f7dcf;
}
