@media screen and (max-width: 600px) {
    
    body {
        display: grid;
        grid-template-areas: 
            "header"    
            "nav"
            "main"
            "footer";
        grid-template-rows: auto 0.7fr 1fr 1fr;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color:#e1e6ec ;
    }

    header {
        grid-area: header;
        margin: 1rem;
        
    
    }

    nav {
        grid-area: nav;
        grid-template-rows: auto;
    }

    main{
        grid-area: main;
        display: grid;
        grid-template-rows:  2fr;
        grid-template-columns: 40% 60%;
    }

    .sidebar-container{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }

    .sidebar-container h2{
        font-size: 0.8rem;
    }

    .container-events{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 1vh;
        margin-bottom: 1rem;
        width: 28vw;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        font-size: 0.5rem;
    }

    
    .static-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .static-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
   
   
    .main-container-new{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }


    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #003366;
  
    }

    #menu {
    	font-size: 1.5rem;
    	border: 1px solid rgba(0,0,0,.3);
    	background-color: #eee;
    	color: #000;
    
    }

    #menu::before {
    	content: "☰";
    }

    #menu.open::before {
    	content: "Close";
    }

    .navigation {
    	display: flex;
    	flex-direction: column;
    	list-style: none;
    	background-color: #333;
    	color: #fff;
    }
    .navigation li {
    	display: none;
    }
    .navigation li a {
    	display: block;
    	padding: 1rem;
    	text-align: center;
    	text-decoration: none;
    	color: #fff;
    }
    .navigation li a:hover {
    	background-color: #bbb;
    	color: #333;
    	font-weight: 700;
    }

    .open li {
    	display: block;
    	width: 100%;
    }
    .open li a {
    	display: block;
    }

    .active::before {
    	content: "📍 ";
    }

}