body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto 7% auto auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #012d5c;
    color: white;
}

header img {
    max-width: 100%; 
    border: 3px solid white; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header span {    
    font-size: 2rem;
    margin-left: 10px; 
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


nav {
    grid-area: nav;
    background-color:#2b2e3b;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav a {
    text-decoration: none;
    text-align: center; 
    width: 100%; 
    color: white;
}

nav li:hover {

    background-color: #2b2e3b;
}

nav .active {
    background-color:rgb(44, 44, 177);
}



main {
    grid-area: main;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 1fr 5vw;
    grid-template-rows: auto 50px 1fr auto ;
  
}


.hero {
    grid-area: 1 / 2 / 2 / 7;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}
.hero-h1{
    grid-area: 1 / 2 / 2 / 7;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    object-fit: cover
}

.subtitile {
    align-items: center;
    grid-area: 1 / 1 / 2 / 7;
    display: inline-block; 
}

main h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    padding: 0;

}
.section1{
    grid-area: 3 / 2 / 4 / 5;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem;
    box-sizing: border-box;
}
.section1 ul{
    list-style: none;
    padding: 0;
  }
.section1 li{
    list-style: none;

}

.section2{
    grid-area: 3 / 5 / 4 / 7;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem;
    box-sizing: border-box;
}

.title-visits, .visits{
    
    font-size: 1.3rem;
}
.container-visits{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


section{
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    padding: 0%;
}

section h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    background-color:  #2b2e3b;
    color: white;
    
}

.container-weather{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}

#weather-icon {
    width: 80px; 
    height: 80px; 
}



#current-temp {
    font-size: 24px;
    font-weight: bold;
}

.p-weather {
    font-size: 24px;
    font-weight: bold;
    margin-left: 1rem;
}


.visits{
    margin: 1rem;
    display: inline-block;
}
.title-visits{
    display: inline-block;
}

.maps{
    grid-area: 4 / 3 / 5 / 6;
    display: flex;
    justify-content: center;
    margin: 1rem;
    box-sizing: border-box;
}
footer {
    color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #012d5c;
}

.img-footer{
    margin-left:0.5rem;
    margin-right: 0.5rem;
    vertical-align: bottom;
}
#lastModified{
    font-size: 0.8rem;
    color: white;
    background-color: #2b2e3b;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
}

/* -------------------------STYLES FOR LEARNING ACTIVITIES ------------------------------------*/
.week-links {
    margin: 0;
    padding: 0;
    display: inline; 
  }
  
  .week-links li {
    display: inline;
    font-size: 1.2rem;
  }
  
  .week-links li:not(:last-child) {
    margin-right: 5px; 
  }
  
  .week-links li span {
    color: #999; 
  }
  
  .week-item {
    margin-bottom: 10px;
    display: block; 
  }

  


  .temple-location{
    width: 600px;
    height: 450px;
    border: 0;
  }


  