body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: 1fr 5% 1fr 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 100%; 
    border: 3px solid #000; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header span {    
    font-size: 2rem;
    margin-left: 10px; 
}

nav {
    grid-area: nav;
    background-color: #007BFF;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav a {
    text-decoration: none;
    text-align: center; 
    width: 100%; 
    color: white;

}

nav li:hover {

    background-color: rgb(34, 13, 221);
}

nav .active {
    background-color:rgb(6, 6, 78);
}



main {
    grid-area: main;
  
}

.subtitile {
    border-bottom: 2px solid #000; 
    display: inline-block; 
    margin-bottom: 10px; 
}
main section{

}

footer {
    grid-area: footer;
}
